@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,800&display=swap');

@import './variables.scss';

body {
    margin: 0px;
    background-color: $theme-light-grey;
    font-family: 'Montserrat', 'Ariel', serif;
}

.header {
    //background-image: url(/assets/images/netflix-background-9.jpg);
    min-width: 400px;
    
    background-color: rgba(black, 0.6);
    position: relative;

    &::after {
        content: '';

        background: url(/assets/images/netflix-background-9.jpg);
        filter: blur(3px);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
}

.search-parent {
    height: 400px;
}

.search-icon {
    position: absolute;
    padding-left: 95%;
    padding-top: 2.5%;
}

.search-align {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-toolbar {
    display: flex;
    align-items: center;
}

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar .title {
    white-space: nowrap;
    margin-right: 2%;
    font-size: 16;
    opacity: 0.8;
    font-weight: 500;
    color: $theme-white;
}

.radio-toolbar .label-right {
    white-space: nowrap;
    display: inline-block;
    background-color: rgba(66,66,66,0.68);
    color: $theme-white;
    padding: 10px 20px;
    font-family: 'Montserrat', 'Ariel', serif;
    font-size: 15px;
    border-radius: 0 4px 4px 0;
}

.radio-toolbar .label-left {
    white-space: nowrap;
    display: inline-block;
    background-color: rgba(66,66,66,0.68);
    color: $theme-white;
    padding: 10px 20px;
    font-family: 'Montserrat', 'Ariel', serif;
    font-size: 15px;
    border-radius: 4px 0 0 4px;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: $theme-pink;
}

.movie-controls {
    padding-left: 5%;
    padding-right: 5%;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', 'Ariel', serif;
    font-size: 16px;
    font-weight: 300;
    background-color: $theme-light-grey;
    color: $theme-white;

    &-title {
        font-size: 16px;
        font-weight: 800;
    }
}

.movies-thumbnail {
    padding-bottom: 4%;
    background-color: $theme-black;
    width: 100%;
    height: auto;
    min-height: 60vh;
    position: relative;
    overflow: hidden;

    &-no-films-found {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0px;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        color: $theme-white;
        font-size: 52px;
        text-align: center;
    }
}

.movie-preview {
    display: inline-block;
    color: $theme-white;
    max-width: 29%;
    padding-top: 4%;
    margin-left: 3.25%;

    &-img {
        width: 100%;
    }

    &-figure {
        margin: 0px;
    }

    &-first-line {
        margin-top: 3%;
        display: flex;
        justify-content: space-between;
    }

    &-title {
        opacity: 0.7;
        font-weight: 500;
        font-size: 18px;
    }

    &-genre {
        opacity: 0.5;
        font-weight: 500;
        font-size: 14px;
    }

    &-year {
        opacity: 0.7;

        font-weight: 500;
        font-size: 14px;
    }

    &-year-rect {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        height: 26px;
        width: 66px;
        border: 1px solid #979797;
        opacity: 0.5;
        border-radius: 4px;
    }
}

.movie-detail {
    padding-top: 6%;
    padding-bottom: 4%;
    padding-left: 2%;
    display: flex;
    color: $theme-white;
    
    &-img {
        max-width: 26%;
        margin-left: 3%;
        margin-right: 3%;
    }

    &-desc {
        width: 60%;

        &-line {
            margin-top: 2%;
            display: flex;
            justify-content: left;
        }

        &-title {
            opacity: 0.8;
            font-size: 52px;
            line-height: 63px;
        }

        &-overview {
            margin-top: 2%;
            opacity: 0.8;
            font-size: 17px;
        }

        &-year-and-runtime {
            color: $theme-pink;
            font-size: 26px;
            line-height: 32px;
        }
    
        &-second-plan {
            opacity: 0.5;
            font-size: 14px;
        }
    
        &-rating {
            opacity: 0.8;
            color: #A1E66F;
            font-size: 26px;
            line-height: 32px;
            text-align: center;
        }
    
        &-rating-border {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 3%;
            box-sizing: border-box;
            height: 69px;
            width: 69px;
            border-radius: 50%;
            opacity: 0.8;
        }
    
        &-runtime-block {
            margin-left: 3%;
        }
    }
}

.search {
    display: flex;
    margin-bottom: 2%;

    &-title {
        color: $theme-white;
        font-size: 40px;
        font-weight: 300;
        margin-top: 0%;
        margin-bottom: 3%;
    }

    &-btn {
        display: table-cell;
        margin-left: 1%;
        height: 57px;
        width: 233px;
        color: $theme-white;
        font-size: 20px;
        border-width: 0px;
        border-radius: 5px;
        background-color: $theme-pink;
    }

    &-input {
        display: table-cell;
        color: $theme-white;
        font-size: 20px;
        font-weight: 500;
        height: 57px;
        width: 713px;
        opacity: 0.7;
        border-width: 0px;
        border-radius: 5px;
        padding-left: 1%;
        background-color: rgba(50,50,50,0.8);        
    }
}

.footer {
    display: flex;
    justify-content: center;
    height: 72px;
    background-color: $theme-dark-grey;
}

.logo-header {
    position: absolute;
    padding-left: 5%;
    padding-top: 2%;
}

.oops-img {
    display: flex;
    justify-content: center;
}

.oops-message {
    text-align: center;
}

.netflixroulette-logo {
    display: flex;
    align-items: center;
    list-style-type: none;
    color: $theme-pink;
    font-size: 20px;
    .fat {
	    font-weight: 800;
    }
    .light {
	    font-weight: 400;
    }
}

